* {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.container {
  padding-right: 0px;
  padding-left: 0px;
}
a:hover {
  text-decoration: none;
}
#Backtop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  background-color: gray;
  color: white;
  padding: 10px 13px 11px;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
/*.btn-info {
    .border-radius(0px);
    .transition(all, 0.2s, linear);

    &:hover {
        background-color: #FF9800;
        border-color: #FF9800;
    }
}*/
@media (min-width: 1024px) {
  a:hover {
    text-decoration: none;
  }
  #Login {
    background-color: #2F2E3C;
    padding: 0.5% 0;
    border-bottom: 1px solid #424242;
  }
  #Login .log {
    display: block;
    color: #757575;
    padding-right: 0;
    font-size: 100%;
  }
  #Nav.navbar {
    background-color: #2F2E3C;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 0;
  }
  #Nav.navbar .navbar-toggle {
    border: 1px solid white;
  }
  #Nav.navbar .navbar-toggle .icon-bar {
    border: 1px solid white;
  }
  #Nav.navbar #menu #MainMenu li a {
    color: #F5F5F5;
    font-size: 150%;
  }
  #Nav.navbar #menu #MainMenu li a:hover {
    background-color: transparent;
  }
  #Nav.navbar #menu #MainMenu li a:focus {
    background-color: transparent;
  }
  #Nav.navbar #menu ul.dropdown-menu {
    position: absolute;
    top: 110%;
    padding: 0;
  }
  #Nav.navbar #menu ul.dropdown-menu li a {
    color: black;
    border-bottom: 1px solid #E0E0E0;
    padding-top: 10%;
    padding-bottom: 10%;
    transition: all 0.2s linear;
  }
  #Nav.navbar #menu ul.dropdown-menu li a:hover {
    background-color: #2196F3;
    color: white;
  }
  #Nav.navbar .navbar-brand img {
    width: 100px;
    height: 130%;
  }
  #footer {
    background-color: #212121;
    color: #F5F5F5;
    padding: 2% 0;
  }
  #footer .title {
    font-size: 160%;
  }
  #footer #about {
    margin-bottom: 10%;
  }
  #footer #about .social a {
    margin-right: 5%;
    color: #616161;
  }
  #footer #about .social a .fa {
    font-size: 200%;
  }
  #footer #instagram {
    margin-bottom: 10%;
  }
  #footer #instagram img {
    margin-right: 3%;
    margin-bottom: 3%;
    width: 22%;
  }
  #footer #recent {
    padding-bottom: 5%;
  }
  #TrangChu #DanhMuc {
    background: #E0E0E0;
    padding: 0.5% 0;
  }
  #TrangChu #DanhMuc .act {
    width: 33%;
    margin-bottom: 2%;
  }
  #TrangChu #DanhMuc .act > div {
    overflow: hidden;
  }
  #TrangChu #DanhMuc .act a img {
    width: 100%;
    height: 200px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
  }
  #TrangChu #DanhMuc .act a img:hover {
    transform: scale(1.1, 1.1);
  }
  #TrangChu #DanhMuc .act .title {
    text-align: center;
    font-size: 250%;
    font-weight: bolder;
    margin-bottom: 4%;
    background: #DC3C00;
    padding: 2% 0;
  }
  #TrangChu #DanhMuc .act .title a {
    color: white;
  }
  #TrangChu #DanhMuc .act .caption {
    padding: 2%;
  }
  #TrangChu #DanhMuc .act .caption .meta {
    line-height: 200%;
    padding-right: 20%;
  }
  #TrangChu #DanhMuc .act .caption .btn {
    font-style: italic;
    padding-left: 0;
    text-decoration: underline;
  }
  #TrangChu #DanhMuc .act .caption .btn:hover {
    color: #BDBDBD;
  }
  #TrangChu #News {
    background-color: #E0E0E0;
    padding: 4% 0;
  }
  #TrangChu #News .title {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 300%;
  }
  #TrangChu #News hr {
    width: 10%;
    border: 1px solid #2196F3;
  }
  #TrangChu #News .meta {
    margin-bottom: 5%;
  }
  #TrangChu #News .news {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: 0;
  }
  #TrangChu #News .news .overlay {
    position: relative;
    padding: 0;
    overflow: hidden;
    height: 200px;
  }
  #TrangChu #News .news .overlay img {
    transition: all 0.2s linear;
    z-index: 5;
    height: 100%;
    width: 100%;
  }
  #TrangChu #News .news .overlay .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 7%;
    opacity: 0;
    transition: all 0.2s linear;
    z-index: 10;
  }
  #TrangChu #News .news .overlay .mask .title {
    color: white;
    padding: 0 7%;
    font-size: 130%;
    margin-bottom: 5%;
  }
  #TrangChu #News .news .overlay .mask .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: transparent;
    color: white;
    margin-right: 1%;
    border: 3px solid white;
    z-index: 10;
    padding: 3%;
  }
  #TrangChu #News .news .overlay:hover img {
    transform: scale(1.1, 1.1);
  }
  #TrangChu #News .news .overlay:hover .mask {
    opacity: 0.7;
  }
  #TrangChu #News .news .tag {
    position: relative;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: 2% 8%;
    top: -20px;
    z-index: 10;
    margin-bottom: 0;
  }
  #TrangChu #News .news .caption {
    text-align: center;
    padding-top: 0;
  }
  #TrangChu #News .news .caption .title {
    color: black;
    margin: 0;
    font-weight: normal;
    font-size: 150%;
  }
  #TrangChu #News .news .caption .title:hover {
    color: deepskyblue;
  }
  #TrangChu #News .news .caption hr {
    width: 80%;
  }
  #TrangChu #News .news .caption .meta {
    line-height: 180%;
    padding: 0 5%;
    overflow: hidden;
    height: 70px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  #TrangChu #News .last-item .overlay .mask {
    padding: 5% 15%;
  }
  #TrangChu #News .last-item .overlay .mask .btn {
    padding: 2%;
  }
  #TrangChu #Numbers {
    padding: 2% 0;
    background: url('../img/bg-pallarax.jpg') no-repeat;
    background-size: 400%;
    color: white;
  }
  #TrangChu #Numbers .title {
    font-size: 300%;
  }
  #TrangChu #Numbers hr {
    width: 10%;
    margin-bottom: 5%;
  }
  #TrangChu #Numbers .item {
    margin-bottom: 5%;
  }
  #TrangChu #Numbers .item img {
    width: 15%;
  }
  #TrangChu #Numbers .item .position {
    font-size: 180%;
    margin-bottom: 3%;
    font-weight: lighter;
  }
  #TrangChu #Numbers .item .author {
    font-size: 250%;
  }
  #TrangChu #Numbers .item .content {
    font-size: 200%;
    padding: 0 20%;
  }
  #TrangChu #HoatDong {
    background-color: #F5F5F5;
    padding: 4% 0;
  }
  #TrangChu #HoatDong .title {
    font-weight: bold;
    font-size: 300%;
  }
  #TrangChu #HoatDong hr {
    width: 25%;
    border: 1px solid #2196F3;
  }
  #TrangChu #HoatDong .meta {
    margin-bottom: 2%;
    font-size: 100%;
    padding: 0 2%;
  }
  #TrangChu #HoatDong #HinhAnh {
    margin-bottom: 2%;
  }
  #TrangChu #HoatDong #HinhAnh .campus {
    border: 1px solid red;
    display: block;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
  #TrangChu #HoatDong #HinhAnh .campus img {
    transition: all 0.2s linear;
    height: 250px;
  }
  #TrangChu #HoatDong #HinhAnh .campus .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s linear;
    padding-top: 12%;
  }
  #TrangChu #HoatDong #HinhAnh .campus .caption .title {
    color: white;
    z-index: 10;
  }
  #TrangChu #HoatDong #HinhAnh .campus .caption .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
  }
  #TrangChu #HoatDong #HinhAnh .campus:hover img {
    transform: scale(1.1, 1.1);
  }
  #TrangChu #HoatDong #HinhAnh .campus:hover .caption {
    opacity: 0.7;
  }
  #TrangChu #Blogs {
    background-color: #F5F5F5;
    padding-bottom: 5%;
  }
  #TrangChu #Blogs .title {
    font-size: 300%;
  }
  #TrangChu #Blogs hr {
    width: 30%;
    border: 1px solid #2196F3;
  }
  #TrangChu #Blogs .meta {
    margin-bottom: 5%;
    font-size: 100%;
    padding: 0 5%;
  }
  #TrangChu #Blogs .blog {
    display: block;
    padding: 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
  #TrangChu #Blogs .blog .overlay {
    position: relative;
    overflow: hidden;
    height: 200px;
  }
  #TrangChu #Blogs .blog .overlay img {
    transition: all 0.2s linear;
    height: 100%;
    width: 100%;
  }
  #TrangChu #Blogs .blog .overlay .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 10%;
    opacity: 0;
    transition: all 0.2s linear;
  }
  #TrangChu #Blogs .blog .overlay .mask .title {
    color: white;
  }
  #TrangChu #Blogs .blog .overlay .mask .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    margin-right: 2%;
  }
  #TrangChu #Blogs .blog .overlay .tag {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #TrangChu #Blogs .blog .overlay:hover img {
    transform: scale(1.1, 1.1);
  }
  #TrangChu #Blogs .blog .overlay:hover .mask {
    opacity: 0.7;
  }
  #TrangChu #Blogs .blog .caption {
    padding-left: 5%;
    padding-right: 5%;
    height: 200px;
  }
  #TrangChu #Blogs .blog .caption .title {
    font-size: 200%;
    padding: 0 3%;
  }
  #TrangChu #Blogs .blog .caption hr {
    width: 100%;
    border: 1px solid #E0E0E0;
  }
  #TrangChu #Blogs .blog .caption .meta {
    font-size: 100%;
  }
  #TrangChu #Mission {
    padding: 15% 0 8%;
    background: url('../img/news-2.jpg') no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
  }
  #TrangChu #Mission .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #03A9F4;
    opacity: 0.7;
    color: white;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
  }
  #TrangChu #Mission .overlay .title {
    font-size: 300%;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 2%;
  }
  #TrangChu #Mission .overlay .meta {
    font-size: 200%;
    margin-bottom: 1%;
    padding: 0 5%;
    z-index: 10;
  }
  #FAQs #Path {
    background-color: #2196F3;
    color: white;
    padding: 3% 4%;
  }
  #FAQs #Content .breadcrumb {
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }
  #FAQs #MainContent {
    margin-top: 3%;
  }
  #FAQs #Sidebar #FeaturedPosts {
    margin-bottom: 10%;
  }
  #FAQs #Sidebar #FeaturedPosts .post {
    margin-bottom: 10%;
  }
  #FAQs #Sidebar #FeaturedPosts .title {
    color: black;
  }
  #FAQs #Sidebar #FeaturedPosts .title:hover {
    color: #2196F3;
  }
  #Testimonials #Path {
    background-color: #2196F3;
    color: white;
    padding-bottom: 1%;
  }
  #Testimonials #Content .breadcrumb {
    margin-left: 2%;
    margin-right: 2%;
  }
  #Testimonials #Content #MainContent {
    margin-top: 3%;
  }
  #Testimonials #Content #MainContent .testi {
    padding: 5%;
  }
  #Testimonials #Content #MainContent .testi footer {
    text-align: right;
    margin-top: 3%;
    font-style: italic;
    color: #2196F3;
  }
  #Testimonials #Content #Sidebar #FeaturedPosts .post {
    margin-bottom: 10%;
  }
  #Testimonials #Content #Sidebar #FeaturedPosts .post img {
    width: 50%;
  }
  #Testimonials #Content #Sidebar #FeaturedPosts .post .title {
    font-size: 100%;
    color: black;
  }
  #Testimonials #Content #Sidebar #FeaturedPosts .post .title:hover {
    color: #2196F3;
  }
  #ListBlogs #Title {
    background-color: #2196F3;
    color: white;
    padding-bottom: 1%;
  }
  #ListBlogs #Content {
    background-color: #EFEBE9;
  }
  #ListBlogs #Content .container ul.breadcrumb {
    background-color: white;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  #ListBlogs #Content .container ul.breadcrumb li {
    font-size: 150%;
  }
  #ListBlogs #Content #MainContent .blog {
    border: none;
    background-color: white;
    height: 200px;
    margin-bottom: 2%;
    padding: 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
  #ListBlogs #Content #MainContent .blog > a {
    margin-right: 1%;
  }
  #ListBlogs #Content #MainContent .blog > a img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 2%;
    width: 300px;
    height: 200px;
  }
  #ListBlogs #Content #MainContent .blog .caption {
    padding: 0;
  }
  #ListBlogs #Content #MainContent .blog .caption .title {
    padding-top: 1%;
    margin: 0 0 1px 0;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  #ListBlogs #Content #MainContent .blog .caption .title a {
    color: black;
    font-weight: bold;
    font-size: 150%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
  }
  #ListBlogs #Content #MainContent .blog .caption .title a:hover {
    color: #f44336;
  }
  #ListBlogs #Content #MainContent .blog .caption .meta {
    line-height: 150%;
    overflow: hidden;
    height: 100px;
    margin: 0 0 5px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-size: 120%;
    padding: 0 1% 1% 0;
    text-align: justify;
  }
  #ListBlogs #Content #MainContent .blog .caption p.btnXem {
    margin-bottom: 1%;
  }
  #ListBlogs #Content #MainContent .blog .caption p.btnXem .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
  #ListBlogs #Content #MainContent .blog .caption p.btnXem .btn:hover {
    background-color: #FF9800;
    border: 1px solid #FF9800;
  }
  #ListBlogs #Content #Sidebar {
    background-color: white;
  }
  #ListBlogs #Content #Sidebar #TinMoiNhat h3.title {
    font-weight: bold;
    font-size: 200%;
  }
  #ListBlogs #Content #Sidebar #TinMoiNhat .post {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0;
    border: none;
    margin-bottom: 15%;
  }
  #ListBlogs #Content #Sidebar #TinMoiNhat .post img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  #ListBlogs #Content #Sidebar #TinMoiNhat .post .caption {
    padding: 0;
  }
  #ListBlogs #Content #Sidebar #TinMoiNhat .post .caption .title {
    padding: 2% 0;
    margin-bottom: 2%;
  }
  #ListBlogs #Content #Sidebar #TinMoiNhat .post .caption .title a {
    color: black;
    font-size: 150%;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
  }
  #ListBlogs #Content #Sidebar #TinMoiNhat .post .caption .title a:hover {
    color: #f44336;
  }
  #ListBlogs #Content #Sidebar #TinMoiNhat .post .caption .btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
  }
  #ListBlogs #Content #Sidebar #TinMoiNhat .post .caption .btn:hover {
    background-color: #FF9800;
    border: 1px solid #FF9800;
  }
  #Gallery,
  #Album {
    padding-bottom: 5%;
    /*background-color: #E0E0E0;*/
    background: white;
  }
  #Gallery #Title,
  #Album #Title {
    background-color: #2196F3;
    color: white;
    padding-bottom: 1%;
  }
  #Gallery .breadcrumb,
  #Album .breadcrumb {
    margin-bottom: 2%;
  }
  #Gallery #FilterGroup,
  #Album #FilterGroup {
    margin-bottom: 2%;
  }
  #Gallery #FilterGroup button,
  #Album #FilterGroup button {
    margin-bottom: 2%;
  }
  #Gallery .element-item,
  #Album .element-item {
    margin-bottom: 3%;
  }
  #Gallery .post,
  #Album .post {
    position: relative;
  }
  #Gallery .post img,
  #Album .post img {
    width: 100%;
    height: 300px;
  }
  #Gallery .post .caption,
  #Album .post .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: all 0.2s linear;
    text-align: center;
    padding-top: 10%;
  }
  #Gallery .post .caption .title,
  #Album .post .caption .title {
    color: white;
    font-weight: bold;
    transform: translateY(10%);
    font-size: 150%;
  }
  #Gallery .post .caption .btn,
  #Album .post .caption .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    margin-right: 2%;
    transform: translateY(10%);
    font-size: 80%;
  }
  #Gallery .post .caption:hover,
  #Album .post .caption:hover {
    opacity: 0.7;
  }
  #Blog_Detail #Path {
    background-color: chocolate;
    color: white;
    padding-bottom: 1%;
  }
  #Blog_Detail .breadcrumb {
    margin: 2% 0;
  }
  #Blog_Detail #Content {
    padding: 0;
  }
  #Blog_Detail #Content #MainContent {
    padding: 0;
  }
  #Blog_Detail #Content #MainContent .title {
    font-size: 150%;
    margin: 0;
    margin-bottom: 2%;
    font-weight: bold;
  }
  #Blog_Detail #Content #MainContent img {
    margin-bottom: 2%;
    padding: 3%;
  }
  #Blog_Detail #Content #MainContent .meta {
    line-height: 200%;
    text-align: justify;
  }
  #Blog_Detail #Content #Sidebar {
    padding-top: 0;
  }
  #Blog_Detail #Content #Sidebar #Category {
    margin-bottom: 10%;
  }
  #Blog_Detail #Content #Sidebar #Category .title {
    margin-top: 0;
  }
  #Blog_Detail #Content #Sidebar #FeaturedPosts .post {
    margin-bottom: 10%;
  }
  #Blog_Detail #Content #Sidebar #FeaturedPosts .post img {
    width: 40%;
    margin-right: 3%;
  }
  #Blog_Detail #Content #Sidebar #FeaturedPosts .post .title {
    font-size: 100%;
    font-weight: bold;
    color: black;
    line-height: 140%;
  }
  #Blog_Detail #Content #Sidebar #FeaturedPosts .post .title:hover {
    color: #2196F3;
  }
  #Blog_Detail #Content #Sidebar #FeaturedPosts .post .btn {
    padding: 2% 5%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    color: white;
    background-color: #2196F3;
  }
  #Blog_Detail #Content #Sidebar #FeaturedPosts .post .btn:hover {
    background-color: orangered;
    border: 1px solid orangered;
  }
  #LienHe #Map {
    height: 500px;
  }
  #LienHe #Map .ggmap iframe {
    height: 500px;
  }
  #LienHe #LH {
    background-color: #EEEEEE;
    padding: 3% 0;
  }
  #LienHe #LH hr {
    border: 2px solid #2196F3;
    width: 15%;
  }
  #LienHe #LH .title {
    font-size: 250%;
    font-weight: bolder;
  }
  #LienHe #LH .meta {
    padding: 0 20%;
    font-size: 150%;
  }
  #LienHe #Bg {
    background: url('../img/bg-contact2.jpg') no-repeat;
    background-size: 100%;
    padding: 5% 0;
    background-attachment: fixed;
  }
  #LienHe #Bg .bg {
    color: white;
    font-size: 150%;
  }
  #LienHe #Bg .bg .title {
    font-size: 180%;
  }
  #LienHe #Form {
    padding: 2% 0;
  }
  #CamNhan #Title {
    background-color: #03A9F4;
    color: white;
    padding: 0.5% 0 1%;
  }
  #CamNhan #MainContent .jumbotron img {
    width: 22%;
    margin-right: 3%;
  }
  #CamNhan #Sidebar .title {
    margin-top: 0;
  }
  #CamNhan #Sidebar .post {
    margin-bottom: 10%;
  }
  #CamNhan #Sidebar .post .meta {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 80px;
  }
  #Visa #Title {
    background-color: #03A9F4;
    color: white;
    padding: 0.5% 0 1%;
    margin-bottom: 2%;
  }
  #Visa #MainContent .visa {
    margin-bottom: 3%;
  }
  #DanhMuc #Title {
    background: white;
    color: orange;
    padding: 0.5% 0 1%;
  }
  #DanhMuc #Title .title {
    font-size: 300%;
    font-weight: bold;
  }
  #DanhMuc #MainContent {
    background: url('../img/bg-duhoc.jpg') no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  #DanhMuc #MainContent .country {
    margin-bottom: 3%;
  }
  #DanhMuc #MainContent .country .text {
    font-size: 180%;
    color: black;
    font-weight: bold;
    border: 1px solid white;
    background: white;
    margin-top: 2%;
  }
  #DanhMuc #MainContent .country img {
    height: 170px;
  }
  #DanhMuc2 #Title {
    background: Orange;
    color: white;
    padding: 0.5% 0 1%;
  }
  #DanhMuc2 #Title .title {
    font-size: 300%;
    font-weight: bold;
  }
  #DanhMuc2 #MainContent .tab-left ul.nav-tabs {
    float: left;
  }
  #DanhMuc2 #MainContent .tab-left ul.nav-tabs li {
    float: none;
    margin: 0;
  }
  #DanhMuc2 #MainContent .tab-left ul.nav-tabs li a {
    border: none;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #f44336;
    color: white;
    font-size: 120%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  #DanhMuc2 #MainContent .tab-left ul.nav-tabs li a:hover {
    background-color: #FF8A65;
  }
  #DanhMuc2 #MainContent .tab-left div.tab-content div.thumbnail {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0;
    margin-bottom: 10%;
  }
  #DanhMuc2 #MainContent .tab-left div.tab-content div.thumbnail .caption {
    padding: 0;
  }
  #DanhMuc2 #MainContent .tab-left div.tab-content div.thumbnail .caption .title {
    margin: 0;
    padding: 2% 5%;
    line-height: 150%;
  }
  #DanhMuc2 #MainContent .tab-left div.tab-content div.thumbnail .caption .title a {
    color: black;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
  }
  #DanhMuc2 #MainContent .tab-left div.tab-content div.thumbnail .caption .title a:hover {
    color: #f44336;
  }
  #DanhMuc2 #MainContent .tab-left div.tab-content div.thumbnail .caption .meta {
    height: 50px;
    overflow: hidden;
    padding: 0 5%;
    margin: 0;
    font-size: 120%;
  }
  #Type #Title {
    background-color: white;
    color: orange;
    padding: 0.5% 0 1%;
  }
  #Type #Title .title {
    font-size: 300%;
    font-weight: bold;
  }
  #Type #Content {
    background: url('../img/bg-duhoc-2.jpg') no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
}
