#Breadcrumb ul.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-top: 2%;
}
#Breadcrumb ul.breadcrumb li a {
  color: orangered;
}
#Sidebar #ThongBao {
  margin-bottom: 15%;
}
#Sidebar #ThongBao .title {
  border-bottom: 1px solid black;
  padding-bottom: 5%;
  margin-bottom: 10%;
}
#Sidebar #ThongBao .news {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
}
#Sidebar #ThongBao .news .news-title a {
  color: orangered;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
#Sidebar #ThongBao .news .news-title a:hover {
  color: gray;
}
#Sidebar #FAQs .title {
  border-bottom: 1px solid black;
  padding-bottom: 5%;
  margin-bottom: 10%;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.carousel-caption {
  position: unset;
  color: black;
  text-shadow: none;
  text-align: left;
}
a:hover {
  text-decoration: none;
}
#BackTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 0.7%;
  background-color: gray;
  color: white;
  display: none;
}
.highlight {
  color: #fe5000;
}
.btn-highlight {
  transition: all 0.2s linear;
}
.btn-highlight:hover {
  color: white;
  background-color: #fe5000;
  border-color: #fe5000;
}
.btn-more {
  transition: all 0.2s linear;
  background-color: #fe5000;
  color: white;
  padding: 1% 4%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.btn-more:hover {
  background-color: gray;
  color: white;
}
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-primary {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
@media (min-width: 1024px) {
  #header {
    padding: 1% 0 1.5% 0;
    margin-bottom: 0;
    background-color: white;
  }
  #header .navbar-brand img {
    width: 100px;
    height: 130%;
  }
  #header #menu {
    padding-top: 0.5%;
  }
  #header #menu li a {
    font-size: 125%;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
  }
  #header #menu li a:hover {
    background-color: transparent;
  }
  #header.navbar-fixed-top {
    background-color: white;
    padding: 1% 0 1.5% 0;
    margin-bottom: 0;
  }
  #header.navbar-fixed-top #menu {
    padding-top: 0.5%;
  }
  #header.navbar-fixed-top #menu li a {
    font-size: 125%;
    color: black;
    padding-left: 8px;
    padding-right: 8px;
  }
  #header.navbar-fixed-top #menu li a:hover {
    background-color: transparent;
  }
  #HomePage #Title {
    font-size: 600%;
    padding: 5% 0;
    font-weight: lighter;
  }
  #HomePage #Features {
    background-color: #EEEEEE;
    padding: 3% 0;
  }
  #HomePage #Features .title {
    font-size: 400%;
    font-weight: bold;
    margin-bottom: 2%;
  }
  #HomePage #Features .meta {
    font-size: 150%;
    margin-bottom: 4%;
  }
  #HomePage #Features .service .title {
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 3%;
  }
  #HomePage #Features .service .meta {
    font-weight: lighter;
    font-size: 120%;
  }
  #HomePage #Teachers {
    padding: 1% 0;
    background-color: #CFD8DC;
  }
  #HomePage #Teachers .title {
    color: orangered;
  }
  #HomePage #Teachers .teacher {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0;
  }
  #HomePage #Teachers .teacher .caption .teacher-title {
    height: 60px;
    margin-top: 5px;
  }
  #HomePage #Teachers .teacher .caption .teacher-title a {
    color: forestgreen;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    line-height: 120%;
  }
  #HomePage #Teachers .teacher .caption .teacher-title a:hover {
    color: orangered;
  }
  #HomePage #Teachers .teacher .caption .teacher-meta {
    font-size: 150%;
    color: gray;
  }
  #HomePage #Teachers .btn {
    font-size: 180%;
  }
  #HomePage #VideoLopHoc {
    padding: 1% 0;
  }
  #HomePage #VideoLopHoc .title {
    margin-bottom: 1%;
    font-size: 200%;
    font-weight: bold;
  }
  #HomePage #VideoLopHoc .info {
    margin-bottom: 7%;
  }
  #HomePage #VideoLopHoc .info .video {
    height: 250px;
  }
  #HomePage #VideoLopHoc .info .video .preview {
    height: 250px;
  }
  #HomePage #VideoLopHoc .btn {
    font-size: 180%;
  }
  #HomePage #Testimonials {
    padding: 1% 0 3% 0;
    background-color: #ECEFF1;
  }
  #HomePage #Testimonials .title {
    font-size: 250%;
    font-weight: bolder;
  }
  #HomePage #Testimonials .name {
    margin-bottom: 3%;
  }
  #HomePage #Testimonials .name .fa {
    color: #fe5000;
    font-size: 120%;
  }
  #HomePage #Testimonials .meta {
    font-size: 180%;
    line-height: 180%;
    font-style: italic;
  }
  #HomePage #Testimonials .carousel-indicators {
    bottom: -10%;
    width: 60%;
  }
  #HomePage #Testimonials .carousel-indicators li {
    background-color: #E0E0E0;
    width: 20px;
    height: 20px;
  }
  #HomePage #Testimonials .carousel-indicators .active {
    background-color: #fe5000;
  }
  #HomePage #Testimonials .pic img {
    width: 80%;
  }
  #HomePage #SuMenh {
    padding: 5% 0;
    background: url('../img/parallax-bg5.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
  }
  #HomePage #SuMenh h1,
  #HomePage #SuMenh h2 {
    font-size: 370%;
  }
  #HomePage #SuMenh h2 {
    color: #fe5000;
  }
  #HomePage #PostNoiBat {
    background-color: #F5F5F5;
    padding: 1% 0;
  }
  #HomePage #PostNoiBat .title {
    font-size: 200%;
    margin-bottom: 2%;
  }
  #HomePage #PostNoiBat .post {
    display: block;
    padding: 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
  #HomePage #PostNoiBat .post hr {
    width: 30%;
    border: 1px solid #2196F3;
  }
  #HomePage #PostNoiBat .post .overlay {
    position: relative;
    overflow: hidden;
    height: 200px;
  }
  #HomePage #PostNoiBat .post .overlay img {
    transition: all 0.2s linear;
    height: 100%;
    width: 100%;
  }
  #HomePage #PostNoiBat .post .overlay .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 10%;
    opacity: 0;
    transition: all 0.2s linear;
  }
  #HomePage #PostNoiBat .post .overlay .mask .post-title {
    color: white;
  }
  #HomePage #PostNoiBat .post .overlay .mask .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    margin-right: 2%;
  }
  #HomePage #PostNoiBat .post .overlay .tag {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #HomePage #PostNoiBat .post .overlay:hover img {
    transform: scale(1.1, 1.1);
  }
  #HomePage #PostNoiBat .post .overlay:hover .mask {
    opacity: 0.7;
  }
  #HomePage #PostNoiBat .post .caption {
    padding-left: 5%;
    padding-right: 5%;
    height: 200px;
  }
  #HomePage #PostNoiBat .post .caption .post-title {
    font-size: 200%;
    padding: 0 3%;
  }
  #HomePage #PostNoiBat .post .caption hr {
    width: 100%;
    border: 1px solid #E0E0E0;
  }
  #HomePage #PostNoiBat .post .caption .post-meta {
    font-size: 100%;
  }
  #HomePage #PhieuTuVan {
    background-color: #F5F5F5;
    padding-top: 2%;
  }
  #HomePage #PhieuTuVan #LoiGoi p {
    font-size: 200%;
  }
  #HomePage #PhieuTuVan #Phieu textarea,
  #HomePage #PhieuTuVan #Phieu input,
  #HomePage #PhieuTuVan #Phieu btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  #HomePage #PhieuTuVan #Phieu input {
    margin-bottom: 6%;
  }
  #HomePage #PhieuTuVan #Phieu textarea {
    margin-bottom: 3%;
  }
  #HomePage #PhieuTuVan #Phieu .btn {
    padding: 2% 7%;
  }
  footer {
    background-color: #424242;
  }
  footer .ft1 {
    padding: 2% 0;
  }
  footer .ft1 .title {
    color: white;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 350%;
  }
  footer .ft1 a {
    color: #9E9E9E;
    margin-right: 3%;
  }
  footer .ft1 a:hover {
    color: #E0E0E0;
  }
  footer hr {
    border-color: #616161;
  }
  footer .ft2 .info1 {
    margin-bottom: 2%;
  }
  footer .ft2 .info1 a {
    color: #BDBDBD;
    padding: 0 1%;
    font-size: 160%;
    border-right: 1px solid #BDBDBD;
  }
  footer .ft2 .info1 a:hover {
    color: #E0E0E0;
  }
  footer .ft2 .info2 {
    color: #BDBDBD;
    font-size: 140%;
    margin-bottom: 2%;
  }
  #Blogs #Title {
    background: url('../img/bg-title-header.jpg') no-repeat;
    background-size: 100%;
    height: 300px;
    padding-top: 3%;
  }
  #Blogs #Title .title {
    color: white;
    font-weight: bold;
    font-size: 400%;
  }
  #Blogs #Title .meta {
    color: white;
    font-size: 200%;
  }
  #Blogs #Path ol.breadcrumb {
    background-color: transparent;
  }
  #Blogs #MainContent .blog {
    border: none;
  }
  #Blogs #MainContent .blog .title {
    color: black;
    transition: all 0.2s linear;
    font-weight: bold;
  }
  #Blogs #MainContent .blog .title:hover {
    color: #fe5000;
  }
  #Blogs #MainContent .blog .preview {
    overflow: hidden;
  }
  #Blogs #MainContent .blog .preview img {
    transition: all 0.2s linear;
    overflow: hidden;
  }
  #Blogs #MainContent .blog .preview img:hover {
    transform: scale(1.1, 1.1);
  }
  #Blogs #MainContent .blog .caption {
    padding-left: 0;
  }
  #Blogs #MainContent .blog .caption .meta {
    font-size: 150%;
    line-height: 180%;
  }
  #Blogs #Sidebar #Photos,
  #Blogs #Sidebar #Video,
  #Blogs #Sidebar #PopularPost {
    margin-bottom: 15%;
  }
  #Blogs #Sidebar #Photos .title,
  #Blogs #Sidebar #Video .title,
  #Blogs #Sidebar #PopularPost .title {
    font-size: 200%;
    font-weight: bold;
  }
  #Blogs #Sidebar #PopularPost .post .title {
    color: black;
    transition: all 0.2s linear;
  }
  #Blogs #Sidebar #PopularPost .post .title:hover {
    color: #fe5000;
  }
  #Blogs #Sidebar #PopularPost .post .meta {
    line-height: 180%;
  }
  #Blog_Detail #Title {
    background-color: #fe5000;
    color: white;
    padding: 2% 0;
    margin-bottom: 0.5%;
  }
  #Blog_Detail #Title .title {
    font-weight: bold;
    font-size: 300%;
  }
  #Blog_Detail #Path ol.breadcrumb {
    background-color: transparent;
  }
  #Blog_Detail #MainContent .blog_detail .page-header {
    margin-top: 1%;
  }
  #Blog_Detail #MainContent .blog_detail .meta {
    line-height: 180%;
    margin: 2% 0;
    font-size: 120%;
  }
  #Blog_Detail #Sidebar #Photos,
  #Blog_Detail #Sidebar #Video,
  #Blog_Detail #Sidebar #PopularPost {
    margin-bottom: 15%;
  }
  #Blog_Detail #Sidebar #Photos .title,
  #Blog_Detail #Sidebar #Video .title,
  #Blog_Detail #Sidebar #PopularPost .title {
    font-size: 200%;
    font-weight: bold;
  }
  #Blog_Detail #Sidebar #PopularPost .post .title {
    color: black;
    transition: all 0.2s linear;
  }
  #Blog_Detail #Sidebar #PopularPost .post .title:hover {
    color: #fe5000;
  }
  #Blog_Detail #Sidebar #PopularPost .post .meta {
    line-height: 180%;
    font-size: 120%;
  }
  #LienHe #Title {
    background-color: orangered;
    padding: 2% 0;
  }
  #LienHe #Title .title {
    color: white;
    margin: 0;
    font-size: 300%;
    font-weight: bolder;
  }
  #LienHe #Map {
    height: 500px;
  }
  #LienHe #Map .ggmap iframe {
    height: 500px;
  }
  #LienHe #Contact1 {
    padding: 1% 0;
  }
  #LienHe #Contact1 .title {
    font-size: 400%;
    font-weight: bold;
  }
  #LienHe #Contact1 .meta {
    margin-bottom: 5%;
  }
  #LienHe #Contact1 .parallaxScroll {
    background: url('../img/parallax-bg9.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding: 5% 0;
  }
  #LienHe #Contact1 .parallaxScroll .title,
  #LienHe #Contact1 .parallaxScroll address {
    color: white;
  }
  #LienHe #Contact1 .parallaxScroll .title {
    font-size: 200%;
    margin-bottom: 5%;
  }
  #LienHe #Contact1 .parallaxScroll address {
    font-size: 120%;
  }
  #LienHe #Contact2 {
    padding: 1% 0 5% 0;
  }
  #LienHe #Contact2 .btn,
  #LienHe #Contact2 .form-control {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  #FAQs #Title {
    background-color: #FF5722;
    padding: 1.5% 0;
    margin-bottom: 2%;
  }
  #FAQs #Title .title {
    color: white;
    margin: 0;
    font-size: 300%;
    font-weight: bolder;
  }
  #FAQs #MainContent {
    margin-bottom: 2%;
  }
  #GioiThieu #Title {
    background: url('../img/bg-title-header.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 5% 0;
  }
  #GioiThieu #Title .title {
    color: white;
    font-size: 300%;
    font-weight: bolder;
  }
  #GioiThieu #Content #MainContent {
    margin-bottom: 10%;
    margin-top: 0%;
    font-size: 150%;
    text-align: justify;
    line-height: 180%;
    padding-right: 3%;
  }
  #GioiThieu #Content #MainContent .title {
    border: none;
    margin-top: 1%;
    padding-bottom: 2%;
    font-weight: bolder;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
  }
  #GioiThieu #Content #MainContent p.meta {
    margin-bottom: 3%;
  }
  #ChuongTrinhHoc #Title {
    background-color: orangered;
    padding: 2% 0;
  }
  #ChuongTrinhHoc #Title .title {
    color: white;
    margin: 0;
    font-size: 300%;
    font-weight: bolder;
  }
  #ChuongTrinhHoc #MainContent .title {
    border: none;
    margin-top: 1%;
    padding-bottom: 2%;
    font-weight: bolder;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
  }
  #ChuongTrinhHoc #MainContent p.meta {
    margin-bottom: 3%;
  }
  #ChuongTrinhHoc #Sidebar #ThongBao {
    margin-bottom: 15%;
  }
  #LichKhaiGiang #Title {
    background-color: orangered;
    padding: 2% 0;
  }
  #LichKhaiGiang #Title .title {
    color: white;
    margin: 0;
    font-size: 300%;
    font-weight: bolder;
  }
  #LichKhaiGiang #MainContent .title {
    border: none;
    margin-top: 1%;
    padding-bottom: 2%;
    font-weight: bolder;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
  }
  #LichKhaiGiang #MainContent p.meta {
    margin-bottom: 3%;
  }
  #TuyenDung #Title {
    background-color: orangered;
    padding: 2% 0;
  }
  #TuyenDung #Title .title {
    color: white;
    margin: 0;
    font-size: 300%;
    font-weight: bolder;
  }
  #TuyenDung #MainContent .title {
    border: none;
    margin-top: 1%;
    padding-bottom: 2%;
    font-weight: bolder;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
  }
  #TuyenDung #MainContent p.meta {
    margin-bottom: 3%;
  }
  #ListTeachers #Title {
    background-color: orangered;
    padding: 2% 0;
  }
  #ListTeachers #Title .title {
    color: white;
    margin: 0;
    font-size: 300%;
    font-weight: bolder;
  }
  #ListTeachers #MainContent .title {
    border: none;
    margin-top: 1%;
    padding-bottom: 2%;
    font-weight: bolder;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
  }
  #ListTeachers #MainContent p.meta {
    margin-bottom: 3%;
  }
  #ListTeachers #MainContent .teacher {
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
}
